body{
    background-color: rgb(179, 174, 174);
    position: relative;
    align-items: center;
    display: flex;
    z-index: 0;
}
h1{
    font-style: italic;
}
h2{
    text-decoration: underline yellow;
    font-weight: normal;
}
/*line-heigth era para ser 9px mas ficou ilegivel*/
.corpo{
    justify-items: center;
    font-size: 14px;
    line-height: 18px;
}
